@charset "UTF-8";

/* MINHA RAÍZ / CASA DAS VARIÁVEIS */
:root {

    /* FONTES */
    --font1: 'Poppins', 'Segoe UI', Tahoma, Verdana, sans-serif;

    /* CORES */
    --cor_escura: #f2a341;
    --cor_media: #f2b138;
    --cor_clara: #f2bb13;
    --cor_preta: #0d0d0d;
    --cor_branca: white;
    --cor_azul: #0f4e8a;
    --cor_back1: rgba(0, 0, 0, 0.479);
    --cor_back2: rgba(0, 0, 0, 0.555);

}
/* CONFIGURAÇÕEOS GERAIS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font1);
}
.parte1{
    margin-top: 500px;
}
.parte3 p{
    color: black;
}
.parte3 h2{
    color: black;
}
.parte3{
    background:url('../img/localizacao2.jpeg') no-repeat right center fixed;
    background-size: cover;
}
iframe{
    width: 400px;
    margin-top: 10px;
    height: 500px;
    border-radius: 20px;
}
section{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
}
section p{
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 10px;
}
hr {
    border: none;
    height: 1px;
    width: 40%;
    background-color: black;
    margin: auto;
}
button{
    background: transparent;
}
.calender{
    font-size: 35px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;

}
section h1,h2,h3,h4,h5{
    margin-bottom: 20px;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
}
section p{
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}
.parte2{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parte2 p{
    text-align: center;
    margin: 10px;
}
.parte2 h2{
    margin-bottom: 20px;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
}
.parte1{
    margin-top: 10px;
}

/*
RESPONSIVIDADE
MEDIA QUERIE
*/

 /*
 Samsumg galaxy S8+
 */
@media screen and (max-width:360px){
    .parte1{
        margin-top: 100px;
    }
    .parte3 iframe {
        width: 350px;
        height: 400px;
        margin-top: 10px;
        border-radius: 20px;
    }
    
}
/*
FIM
*/

/*
 IPhone SE
*/
@media screen and (max-width:375px){
    iframe{
        width: 360px;
        height: 400px;
    }
}
/*
FIM
*/

/*
 IPAD MINI
*/
@media screen and (max-width:768px){
    .parte1{
        margin-top: 100px;
    }
    iframe{
        width: 750px;
        height: 600px;
    }
    footer article{
        margin-bottom:200px;
    }
    footer article p{
        font-size: 25px;
    }
    
}
/*
fIM
*/

/*
 Samsung S20 UlTRA
*/
@media screen and (max-width:412px){
    iframe{
        width: 400px;
        height: 500px;
    }
    footer article{
        margin-bottom: 1px;
    }
    footer{
        margin-bottom: 10px;
    }
}
/*
FIM
*/

/*
Metade da página do pc
*/
@media screen and(max-width:678){
    iframe{
        width: 400px;
        height: 300px;
    }
}
@media screen and (min-width:760) and (max-width:790px){
    iframe{
       width: 200px; 
       height: 200px;
    }
}
/*
METADE DO ECRÃ DO COMPUTADOR
*/
@media screen and (min-width:500px) and (max-width:768px){
    iframe{
        width: 420px;
        height: 450px;
    }
}
/*
FIM RESPONSIVIDADE
*/