@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: hsl(230, 8%, 15%);
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: white;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0px 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: white;
    font-weight: 400px;
}

.login-button button{
    border: none;
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a {
    text-decoration: none;
    color: white;
}

.mobile-menu-icon {
    display: none;
    color: white;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    
    .nav-bar {
       padding: 1.5rem 4rem; 
    }

    .nav-item, .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon {
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu {
        
    }



}
