@charset "UTF-8";


/* MINHA RAÍZ / CASA DAS VARIÁVEIS */
:root{

    /* FONTES */
    --font1: 'Poppins', 'Segoe UI', Tahoma, Verdana, sans-serif;

    /* CORES */
    --cor_escura: #f2a341;
    --cor_media: #f2b138;
    --cor_clara: #f2bb13;
    --cor_preta: #0d0d0d;
    --cor_branca: white;
    --cor_azul: #0f4e8a;
    --cor_back1: rgba(0, 0, 0, 0.479);
    --cor_back2: rgba(0, 0, 0, 0.555);

}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--font1);
}

/* CONFIGURAÇÃO GENÉRICA DO HEADER */

header {
    height: 10vh;
    background-color: var(--cor_escura);
    box-shadow: 0px 3px 10px #464646;
}

header > img {
    padding: 2px 10px;
    height: 60px;
    width: 60px;
}

header > h1{
    display: inline-block;
    font-size: 20px;
    line-height: 25px;

    transform: translate();
}

header > p {
    font-style: italic;
    display: none;
}

header > i {
    display: block;
    cursor: pointer;
}

header > menu {
    display: none;
    list-style-type: none;
}


/* 2. CONFIGURAÇÃO PARA INICIO */

/* 3. CONFIGURAÇÃO PARA INSTITUIÇÃO */

/* 4. CONFIGURAÇÃO PARA CORPO DOCENTE */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    
}

#paisagem01{
    display: block;
    background: white url('../img/paisagem01.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 100vw;
}

.caixas_embassadas {
    display: block;
    background-color: rgba(0, 0, 0, 0.539);
    color: #f2a341;
    height: 200px;
    width: 100%;
    margin: 0px;
}

.caixas_embassadas > h2 {
    padding: 20px;
    font-size: 2em;
}

.caixas_embassadas > p {
    padding: 0px 20px;
}



/* 5. CONFIGURAÇÃO PARA ENCONTRE-NOS */






