@charset "UTF-8";

/* MINHA RAÍZ / CASA DAS VARIÁVEIS */
:root {

    /* FONTES */
    --font1: 'Poppins', 'Segoe UI', Tahoma, Verdana, sans-serif;

    /* CORES */
    --cor_escura: #f2a341;
    --cor_media: #f2b138;
    --cor_clara: #f2bb13;
    --cor_preta: #0d0d0d;
    --cor_branca: white;
    --cor_azul: #0f4e8a;
    --cor_back1: rgba(0, 0, 0, 0.479);
    --cor_back2: rgba(0, 0, 0, 0.555);

}

/* CONFIGURAÇÕEOS GERAIS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font1);
}

html,body {
    width: 100%;
    height: 100vh;
    position: relative;
}

body {
    overflow-x: hidden;
}

/* BOTÃO DE LOGIN */
header {
    position: fixed;
    z-index: 2;
    height: 80px;
}

header .login i {
    padding: 2px;
    color: var(--cor_escura);
    background-color: var(--cor_branca);
    border-radius: 6px;
}

header h1 {
    font-size: 15px;
}

/* CONTAINER DOS BENEFÍCIOS */
/* #d8dce0 */
.container_beneficios {
    background-color: rgb(246, 246, 246);
}


/* BENEFÍCIOS */
.beneficio {
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

.parte_da_escrita {
    
}

.parte_da_escrita h3 {
    text-transform: uppercase;
}

.parte_da_escrita hr, .container_vantagens hr {
    height: 1px;
    width: 100px;

    margin: 10px 0px;
    outline: none;
    border: none;

    background-color: var(--cor_escura);
}

.container_vantagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-top: 200px;
    margin: 50px auto;
}

.container_vantagens hr {
    margin: 5px 0px;
    background-color: var(--cor_azul);
}

.container_vantagens p {
    font-size: 20px;
    color: rgb(107, 107, 107);
    text-align: center;
    text-indent: 0px;
}

.container_vantagens p strong {
    color: var(--cor_preta);
    font-weight: 600;
}

.container_vantagens p mark {
    background-color: var(--cor_escura);
}

.parte_da_escrita p {
    color: rgb(107, 107, 107);
    text-align: justify;
    text-indent: 0px;
}

.parte_da_imagem {
    margin-left: auto;
    margin-top: 20px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;

    border-radius: 6px;
    box-shadow: -10px -10px 0px var(--cor_escura);
}

.container_beneficios .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_beneficios .texto .big_letter {
    color: rgb(51, 51, 51);
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.container_beneficios .texto .small_letter {
    color: var(--cor_preta);
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

/* IMAGENS DOS BENEFÍCIOS */
.parte_da_imagem > .jogo {
    width: 100%;
    height: 100%;

    background: var(--cor_escura) url('../img/informatica1.jpg') no-repeat center center;
    background-size: cover;
}

.parte_da_imagem > .cantina {
    width: 100%;
    height: 100%;

    background: var(--cor_escura) url('../img/burger.jpg') no-repeat center center;
    background-size: cover;
}

.parte_da_imagem > .chat {
    width: 100%;
    height: 100%;

    background: var(--cor_escura) url('../img/aperto_de_mao.jpg') no-repeat center center;
    background-size: cover;
}

.parte_da_imagem > .notas {
    width: 100%;
    height: 100%;

    background: var(--cor_escura) url('../img/caderno\ em\ branco.jpg') no-repeat center center;
    background-size: cover;
}


/* ESBOÇO - CRIAR CONTA */
.criar_conta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_beneficios .texto p {
    color: rgb(51, 51, 51);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0px;
}

.criar_conta a {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--cor_back1);
    color: var(--cor_branca);
    background-color: var(--cor_escura);
    margin: 10px 0px;
    transition: all .3s ease-in-out;
}

.criar_conta a:hover {
    color: rgb(51, 51, 51);
    background-color: #efae5f;
    text-decoration: none;
}

.bg_decoracao {
    width: 100%;
    height: 400px;
}

.criar_conta .bg_decoracao:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--cor_escura);
    position: relative;
}

.criar_conta .bg_decoracao:last-child {
    background-color: rgb(246, 246, 246);
    z-index: -1;
}

.criar_conta .container_botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 95%;
    border: none;
    outline: none;
    border-radius: 3px;
    overflow: hidden;

    background: var(--cor_azul) url('../img/esboco.avif');
    box-shadow: 0px 0px 20px var(--cor_back1);

    position: absolute;
    top: 50%;
}

.criar_conta .container_botoes .botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.742);
    width: 100%;
    height: 100%;
    padding: 15px;
}

@media screen and (min-width: 1024px) {

    header #div1 {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    header #div1 h1 {
        display: block;
    }
    
    .container_beneficios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .beneficio {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin: 60px 0px;
    }
    
    .container_beneficios .texto .small_letter {
        font-size: 25px;
    }

    .beneficio:nth-child(1), .beneficio:nth-child(3){
        flex-direction: row;
    }

    .beneficio:nth-child(2), .beneficio:nth-child(4){
        flex-direction: row-reverse;
    }

    .parte_da_escrita {
        width: 50%;
        height: 100%;
        padding: 30px;
    }

    .parte_da_escrita h3 {
        font-size: 30px;
        font-weight: normal;
    }

    .parte_da_escrita hr {
        width: 150px;
        height: 2px;
    }

    .parte_da_escrita p {
        font-size: 22px;
    }

    .parte_da_imagem{
        width: 50%;
        height: 100%;
    }

    .criar_conta {
        width: 100%;
        height: 800px;
    }

    .botoes {
        width: 100%;
        height: 800px;
    }

    .botoes a {
        height: 80px;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
    
}