@charset "UTF-8";

/* IMPORTAÇÕES DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500&display=swap');

@font-face {
    font-family: 'jornal';
    src: url(../fontes_de_letra/OldeEnglish.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* MINHA RAÍZ / CASA DAS VARIÁVEIS */
:root {

    /* FONTES */
    --font1: 'Poppins', 'Segoe UI', Tahoma, Verdana, sans-serif;
    --font2: 'Merriweather', serif;
    --font3: 'jornal';

    /* CORES */
    --cor_escura: #f2a341;
    --cor_media: #f2b138;
    --cor_clara: #f2bb13;
    --cor_preta: #0d0d0d;
    --cor_branca: white;
    --cor_azul: #0f4e8a;
    --cor_back1: rgba(0, 0, 0, 0.479);
    --cor_back2: rgba(0, 0, 0, 0.555);

}

/* CONFIGURAÇÃO GERAL */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font2);
}

/* CONFIGURAÇÃO HTML */
html {
    height: 100vh;
    width: 100%;
}

/* MEU BODY */
body {
    height: 100vh;
    width: 100%;
}

main > p.categoria-informacao {
    width: 100%;
    margin: 20px 0px;

    color: rgb(107, 107, 107);
    font-family: var(--font1);
}

main strong {
    color: var(--cor_preta);
    font-family: var(--font1);
}

main > p.fonte-informacao {
    text-align: left;

    width: 100%;
    padding: 5px;
    margin-bottom: 10px;

    color: #21A2BF;
}

/* NOTÍCIA */
.informacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* PARTE DO TEXTO */
.informacao .parte_do_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacao .parte_do_texto .cabeca-noticia {
    padding: 10px;
}

.informacao .parte_do_texto .cabeca-noticia h1 {
    width: 100%;

    color: var(--cor_preta);
    font-family: var(--font2);
    font-size: 20px;
    text-align: left;
    text-indent: 0px;
    text-decoration: none;
}

.informacao .parte_do_texto .corpo-noticia {
    padding: 10px;
}

.informacao .parte_do_texto .corpo-noticia p {
    width: 100%;
    margin-bottom: 10px;

    color: rgb(107, 107, 107);
    font-size: 12px;
    text-align: left;
    text-indent: 0px;
    text-decoration: none;
}

.informacao .parte_do_texto .corpo-noticia p:last-child {
    margin-bottom: 0px;
}

/* ÁLBUM */
.album {
    margin-top: 0px;
    width: 100%;
}

.album h2 {
    color: var(--cor_escura);
    font-family: var(--font1);
}

.album hr {
    margin: auto;
    margin-bottom: 40px;
    width: 100px;
    height: 3px;

    border: none;
    outline: none;
    border-radius: 5px;

    background-color: var(--cor_preta);
}

/* PARTE DA IMAGEM */

/* MISSA DO PADROEIRO - 28.04.2023 */
.padre28_04_2023{
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
}

.alunos_na_missa1__28_04_2023 {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;

    background: transparent url('../img/aluna_na_missa.jpg') no-repeat center center;
    background-size: cover;
}

.alunos_na_missa2__28_04_2023 {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;

    background: transparent url('../img/maos_de_aluno_na_missa.jpg') no-repeat center center;
    background-size: cover;
}

.alunos_na_missa3__28_04_2023 {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;

    background: transparent url('../img/aluno_na_missa.jpg') no-repeat center center;
    background-size: cover;
}

.missa1__28_04_2023 {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;

    background: transparent url('../img/missa1.jpg') no-repeat center center;
    background-size: cover;
}

.missa2__28_04_2023 {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;

    background: transparent url('../img/missa2.jpg') no-repeat center center;
    background-size: cover;
}

.missa3__28_04_2023 {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;

    background: transparent url('../img/missa3.jpg') no-repeat center center;
    background-size: cover;
}

/* DISCURSO DA DIREITORA PEDAGÓGICA FELICIDADE BUZI */
.dp1__28_04_2023 {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;

    background: transparent url('../img/dp1.jpg') no-repeat center center;
    background-size: cover;
}

.dp2__28_04_2023 {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;

    background: transparent url('../img/dp2.jpg') no-repeat center center;
    background-size: cover;
}

.cadernos12_05_2023 {
    width: 100%;
    height: 190px;
    margin-bottom: 10px;

    background: transparent url('../img/cadernos1.jpg') no-repeat center center;
    background-size: cover;
}

/* VÍDEOS DAS NOTÍCIAS */
video {
    width: 100%;
    height: 190px;
    margin-bottom: 0px;
}


.outras_noticias > h2 {
    width: 100%;
    margin-left: 20px;

    text-align: left;
    font-size: 30px;
    font-family: var(--font1);
}
