@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500&display=swap');

/* MINHA RAÍZ / CASA DAS VARIÁVEIS */
:root {

    /* FONTES */
    --font1: 'Poppins', 'Segoe UI', Tahoma, Verdana, sans-serif;

    /* CORES */
    --cor_escura: #f2a341;
    --cor_media: #f2b138;
    --cor_clara: #f2bb13;
    --cor_preta: #0d0d0d;
    --cor_branca: white;
    --cor_azul: #0f4e8a;
    --cor_back1: rgba(0, 0, 0, 0.479);
    --cor_back2: rgba(0, 0, 0, 0.555);

}

/* CONFIGURAÇÃO GERAL */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font1);
}

/* CONFIGURAÇÃO HTML */
html {
    height: 100vh;
    width: 100%;
}

/* MEU BODY */
body {
    height: 100vh;
    width: 100%;
}

/* BODY - PARÁGRAFOS */
body p {
    font-size: 12px;
}

/* HEADER */
header {
    box-shadow: 0px 3px 10px #46464648;
    background-color: var(--cor_escura);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER - DIV1 */
#div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

/* HEADER - IMG */
header img {
    height: 70px;
}

/* HEADER - TÍTULO NÍVEL 1 */
header h1 {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

/* HAMBURGUER */
i {
    cursor: pointer;
}

i:hover {
    color: var(--cor_azul);
    border-radius: 5px;
}

/* HEADER - DIV2 */
#div2 {
    display: block;
}

/* MENU */
menu {
    display: none;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

menu ul {
    list-style-type: none;
}

menu li {
    text-align: center;
    margin-bottom: 10px;
}

menu a {
    text-decoration: none;
    color: var(--cor_preta);
    font-weight: bolder;
}

menu a:hover{
    color: var(--cor_branca);
    transition-duration: 1s;
}

/* MAIN */
main {
    text-align: justify;
}

/* CONFIGURAÇÕES GERAIS DOS ELEMENTOS DO MAIN */
main h2 {
    text-align: center;
    color: var(--cor_escura);
    margin: 10px 0px;
    font-size: 2.5em;
}

main p {
    text-indent: 15px;
}

main strong {
    color: var(--cor_media);
    font-weight: bold;
}

main a {
    color: var(--cor_media);
    text-decoration: none;
    font-weight: bolder;
}

main a:hover{
    color: var(--cor_clara);
    text-decoration: underline;
}

/* GRUPO-APRESENTACAO */

/* SECÇÃO DE APRESENTAÇÃO_1 */
section#apresentacao1{
    background: url('../img/paisagem03.jpg') no-repeat bottom center;
    background-size: cover;
}

/* OFUSCADOR1 */
section#apresentacao1 #back1 {
    background-color: rgba(0, 0, 0, 0.313);
    color: white;
    padding: 15px;
}

section#apresentacao1 p {
    padding: 10px 0px;
}

/* SECÇÃO DE APRESENTAÇÃO_2 */
section#apresentacao2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.icones-apresentacao {
    width: 50px;
    display: block;
    margin: auto;
}

.caixas-apresentacao {
    min-width: 250px;
    padding: 0px;
    margin: 10px 0px;
    text-align: center;
}

.caixas-apresentacao h3 {
    margin-bottom: 10px;
}

.caixas-apresentacao p {
    color: rgb(107, 107, 107);
}


/* GRUPO-CURSOS */

/* SECTION CLASSES E CURSOS */
section#cursos-classes {
    background: var(--cor_escura) url('../img/menino_estudando.jpg') no-repeat
    center center fixed;
    background-size: cover;
}

/* OFUSCADOR2 */
article#back2{
    background-color: #f2a24198;
    color: white;
    padding: 10px;
    text-align: center;
}

/* ACESSÓRIOS DO OFUSCUDOR2 */

#back2 h2 {
    display: block;
    text-align: center;
    color: white;
    font-size: 2em;
    width: 100%;
}

#back2 h2:hover {
    font-size: 2.5em;
    transition-duration: .5s;
    transition-timing-function: ease;
}

#back2 div.classes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    padding: 0px 20px;
    margin: auto;
}

#back2 > .classes > div {
    border: 1px solid var(--cor_escura);
    box-shadow: 1px 1px 6px var(--cor_back1);
    border-radius: 10px;
    width: 150px;
    height: 170px;
    margin: 20px 5px;
}

#back2 > .classes > div:hover {
    background-color: var(--cor_branca);
    color: var(--cor_escura);
    box-shadow: 1px 1px 6px var(--cor_back1);
    width: 200px;
    height: 170px;
    transition: all .5s;
    transition-timing-function: ease;
}

#back2 h3 {
    font-size: 1.6em;
    margin-top: 0px;
    margin-bottom: 10px;
}

#back2 ul {
    list-style-type: none;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    background-color: var(--cor_escura);
    color: var(--cor_branca);
    text-align: left;
}

/* CONFIGURAÇÕES GERAIS DOS ACESSÓRIOS DO MEU FOOTER */

footer div {
    padding: 10px;
    line-height: 1.5em;
}

footer ul {
    list-style-type: none;
}

footer li {
    margin: 10px 0px;
}

footer h2 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

footer a, p {
    display: block;
    font-weight: 300;
    text-align: 12px;
    color: var(--cor_branca);
    text-decoration: none;
}

footer div ul li a:hover {
    padding-left: 10px;
    color: rgb(207, 207, 207);
    transition: all .3s ease;
}

/* FOOTER - FORMULÁRIO */
input[type = email] {
    margin: 5px 0px;
    outline: none;
    color: white;
    font-size: 15px;
    border: 1px solid var(--cor_branca);
    border-radius: 3px;
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

input[type = email]::placeholder {
    color: rgb(222, 222, 222);
}

input[type = submit] {
    margin: 5px 0px 0px 0px;
    font-size: 17px;
    outline: none;
    background-color: var(--cor_branca);
    border-radius: 3px;
    border: none;
    padding: 10px;
    width: 100%;
    color: var(--cor_escura);
    font-weight: bold;
    cursor: pointer;
}

/* FOOTER - ICONS */
div.medias-socias {
    display: flex;
}

div.medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px 10px 0px;
    text-decoration: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: var(--cor_branca);
    border: 1px solid var(--cor_branca);
    transition: all .5s ease;
}

div.medias-socias a:hover {
    background-color: var(--cor_branca);
    color: var(--cor_azul);
}

div.medias-socias a i {
    font-size: 20px;
}

/* FOOTER - DIREITOS DO AUTOR */
footer > p {
    display: block;
    width: 100%;
    text-align: center;
}