@charset "UTF-8";

/* MINHA RAÍZ / CASA DAS VARIÁVEIS */
:root {

    /* FONTES */
    --font1: 'Poppins', 'Segoe UI', Tahoma, Verdana, sans-serif;

    /* CORES */
    --cor_escura: #f2a341;
    --cor_media: #f2b138;
    --cor_clara: #f2bb13;
    --cor_preta: #0d0d0d;
    --cor_branca: white;
    --cor_azul: #0f4e8a;
    --cor_back1: rgba(0, 0, 0, 0.479);
    --cor_back2: rgba(0, 0, 0, 0.555);

}

/* CONFIGURAÇÕEOS GERAIS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font1);
}

/* PRIMEIRA SECTION - IMAGEM DE FUNDO DA INSTUIÇÃO */
.back5 {
    background: var(--cor_escura) url('../img/aluno.jpg') no-repeat left center fixed;
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
    display: block;
    position: inherit;
}

/*  ACESSÓRIOS DO MEU FUNDO DA INSTITUIÇÃO */
.back5 h2, p {
    text-align: left;
}

.back5 h2 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
}

.back5 p {
    text-indent: 0px;
}

/* IMAGEM DA INSTITUIÇÃO */
#imagem_da_escola {
    background: transparent url('../img/paisagem03.jpg') no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.286);
    margin: auto;
    margin-bottom: 20px;
}

/* SEGUNDA SECTION */
.back6{
    padding: 20px;
}

.back6 p{
    color: black;
    text-align: justify;
}

.back6 h3 {
    color: var(--cor_escura);
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.back6 h3::after {
    content: ' ';
    display: block;
    background-color: var(--cor_escura);
    width: 50%;
    height: 1px;
    animation: deslizar_a_direita 2s ease-in forwards;
    animation-play-state: running;
}

.back6 p {
    margin-bottom: 15px;
}

/* MEUS KEYFRAMES  - ANIMAÇÕES COM CSS */

@keyframes deslizar_a_direita {

    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }

}

/* SECTION - EVENTOS */
.eventos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/paisagem02.jpg') no-repeat left center fixed;
    background-size: cover;
}

.eventos .img-eventos {
    width: 90%;
    height: 325px;
    background-color: var(--cor_azul);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
    overflow: hidden;
}

.eventos .img-eventos div {
    height: 100%;
    width: 100%;
}

/* FOTOS DOS EVENTOS */
#dia_do_heroi {
    background: var(--cor_media) url('../img/dia_do_heroi.jpg') no-repeat center center;
    background-size: 300px;
}

#mes_da_biblia {
    background: var(--cor_media) url('../img/mes_da_biblia.jpg') no-repeat center center;
    background-size: 300px;
}

#palestra_de_prevencao_ao_suicidio {
    background: var(--cor_media) url('../img/palestra_de_prevencao_ao_suicidio.jpg') no-repeat center center;
    background-size: 300px;
}

#santo_do_mes {
    background: var(--cor_media) url('../img/santo_do_mes.jpg') no-repeat center center;
    background-size: 300px;
}

#dia_do_professor {
    background: var(--cor_media) url('../img/dia_mundial_do_professor.jpg') no-repeat center center;
    background-size: 300px;
}

#dia_mundial_da_saude_mental {
    background: var(--cor_media) url('../img/dia_mundial_da_saude_mental.jpg') no-repeat center center;
    background-size: 300px;
}

#dia_mundial_da_luta_contra_o_suicidio {
    background: var(--cor_media) url('../img/dia_mundial_da_luta_contra_o_suicidio.jpg') no-repeat center center;
    background-size: 300px;
}

#dia_mundial_do_sonho {
    background: var(--cor_media) url('../img/dia_mundial_do_sonho.jpg') no-repeat center center;
    background-size: 300px;
}

#campanha_de_doacao_de_livros {
    background: var(--cor_media) url('../img/campanha_de_doacao_de_livros.jpg') no-repeat center center;
    background-size: 300px;
}

#campanha_de_arborizacao {
    background: var(--cor_media) url('../img/campanha_de_arborizacao.jpg') no-repeat center center;
    background-size: 300px;
}

#outubro_rosa {
    background: var(--cor_media) url('../img/outubro_rosa.jpg') no-repeat center center;
    background-size: 300px;
}

