@charset "UTF-8";

#intro-cd{
    height: 350px;
}

.embassado{
    height: 350px;
}

.embassado > h2{
    padding-left: 40px;
    padding-top: 50px;
}

.embassado > p{
    padding-left: 40px;
    text-align: justify;
    width: 600px;
}