@charset "UTF-8";

/* IMPORTAÇÕES DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500&display=swap');

@font-face {
    font-family: 'jornal';
    src: url(../fontes_de_letra/OldeEnglish.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* MINHA RAÍZ / CASA DAS VARIÁVEIS */
:root {

    /* FONTES */
    --font1: 'Poppins', 'Segoe UI', Tahoma, Verdana, sans-serif;
    --font2: 'Merriweather', serif;
    --font3: 'jornal';

    /* CORES */
    --cor_escura: #f2a341;
    --cor_media: #f2b138;
    --cor_clara: #f2bb13;
    --cor_preta: #0d0d0d;
    --cor_branca: white;
    --cor_azul: #0f4e8a;
    --cor_back1: rgba(0, 0, 0, 0.479);
    --cor_back2: rgba(0, 0, 0, 0.555);

}

/* CONFIGURAÇÃO GERAL */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font1);
}

/* CONFIGURAÇÃO HTML */
html {
    height: 100vh;
    width: 100%;
}

/* MEU BODY */
body {
    height: 100vh;
    width: 100%;
}

/* HEADER */
header, header.rolando {
    background-color: black;
    position: fixed;
    z-index: 2;
}

#div1 h1 {
    font-family: var(--font3);
    font-size: 30px;
    font-weight: 100;
    color: var(--cor_branca);

    cursor: pointer;
}

#div1 h1:hover {
    color: var(--cor_escura);
}

#div1 i {
    color: var(--cor_branca);
}

#div1 i:hover {
    color: var(--cor_branca);
}

/* NAV DAS NOTÍCIAS */
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 90px;
    padding: 5px;
    width: 100%;

    background-color: rgb(64, 64, 64);
}

.nav ul {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;

    background-color: transparent;
}

.nav ul a {
    margin: 0px 10px;

    color: var(--cor_branca);
    text-decoration: none;
}

.nav ul a:nth-child(1) {
    color: #21A2BF;
}

.nav ul a li {
    font-family: var(--font1);
    font-size: 12px;
}

.nav ul a li:hover {
    color: #21A2BF;
}

/* CORPO PRINCIPAL - MAIN */
main {
    overflow: hidden;
}

.main_recentes {
    max-width: 700px;
    margin: auto;
}

.main_informacao_a_ser_lida {
    max-width: 1000px;
    margin: auto;
}

.main_convocatórias {
    max-width: 700px;
    margin: auto;
}

.atualidade {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin-top: 12px;
}

/* NOTÍCIA MAIS QUENTE */
.atualidade .noticia_mais_quente {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;

    width: 100%;
}

/* PARTE DA IMAGEM */
.atualidade .noticia_mais_quente .imagem {
    width: 100%;
    height: 300px;

    background: transparent url('../img/03_07_2023_despedida_do_ano_letivo/TI\ 2.jpg') no-repeat center center;
    background-size: cover;
}

/* PARTE DO TEXTO (ANTETÍTULO,TÍTULO,SUBTÍTULO,LEAD) */
.atualidade .noticia_mais_quente .texto {
    width: 100%;
    padding: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* LINKS PARA A PARTE DO TEXTO */
.atualidade .noticia_mais_quente .texto a {
    text-decoration: none;
}

/* (ANTETÍTULO,TÍTULO,SUBTÍTULO,LEAD) */
.atualidade .noticia_mais_quente .texto p {
    color: var(--cor_preta);
    font-family: var(--font2);
    text-align: left;
    text-indent: 0px;
}

.atualidade .noticia_mais_quente .texto p:hover {
    text-decoration: none;
}

.atualidade .noticia_mais_quente .texto .antetitulo {
    margin-bottom: 10px;

    color: rgb(107, 107, 107);
    font-size: 10px;
}

.atualidade .noticia_mais_quente .texto .titulo {
    margin-bottom: 10px;

    color: var(--cor_preta);
    font-family: var(--font2);
    text-align: left;
    text-indent: 0px;
    text-decoration: none;
}

.atualidade .noticia_mais_quente .texto .titulo:hover {
    color: #21A2BF;
}

/* NOTÍCIAS MENOS IMPORTANTES */
.outras_noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    width: 100%;
}

/* LINKS PARA AS NOTÍCIAS */
.outras_noticias a {
    text-decoration: none;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.outras_noticias a:hover {
    text-decoration: none;
}

/* NOTÍCIAS */
.outras_noticias .noticias{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 100px;
    padding: 10px 5px;
    margin: 0px;

    background-color: transparent;
    border-top: 1px solid #e6e9ed;

    overflow: hidden;
}

/* PARTE DA IMAGEM */
.outras_noticias .noticias .foto {
    width: 100px;
    height: 100%;

    background-color: #f2bb13;

    overflow: hidden;
}

/* PARTE DA CATEGORIA INFORMATIVA E DO TÍTULO DA NOTÍCIA */
.outras_noticias .noticias .parte_texto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    width: calc(100% - 100px);
    padding: 10px;
}

.outras_noticias .noticias .parte_texto .antetitulo {
    width: 100%;
    margin-bottom: 10px;

    color: rgb(107, 107, 107);
    font-size: 10px;
    text-align: left;
    text-indent: 0px;
    text-decoration: none;
}

.outras_noticias .noticias .parte_texto .titulo {
    width: 100%;

    color: var(--cor_preta);
    font-family: var(--font2);
    font-size: 14px;
    text-align: left;
    text-indent: 0px;
    text-decoration: none;
}

/* NOTÍCIA A SER LIDA */

/* PARTE DA IMAGEM */
.container_noticia .lendo_noticia .imagem {
    width: 100%;
    height: 190px;
}


/* IMAGENS DAS NOTÍCIAS */

/* MISSA DO PADROEIRO - 28.04.2023 */
.padre28_04_2023{
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
}

.alunos_na_missa1__28_04_2023 {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;

    background: transparent url('../img/aluna_na_missa.jpg') no-repeat center center;
    background-size: cover;
}

.alunos_na_missa2__28_04_2023 {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;

    background: transparent url('../img/maos_de_aluno_na_missa.jpg') no-repeat center center;
    background-size: cover;
}

.alunos_na_missa3__28_04_2023 {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;

    background: transparent url('../img/aluno_na_missa.jpg') no-repeat center center;
    background-size: cover;
}

.missa1__28_04_2023 {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;

    background: transparent url('../img/missa1.jpg') no-repeat center center;
    background-size: cover;
}

.missa2__28_04_2023 {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;

    background: transparent url('../img/missa2.jpg') no-repeat center center;
    background-size: cover;
}

.missa3__28_04_2023 {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;

    background: transparent url('../img/missa3.jpg') no-repeat center center;
    background-size: cover;
}

/* DISCURSO DA DIREITORA PEDAGÓGICA FELICIDADE BUZI */
.dp1__28_04_2023 {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;

    background: transparent url('../img/dp1.jpg') no-repeat center center;
    background-size: cover;
}

.dp2__28_04_2023 {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;

    background: transparent url('../img/dp2.jpg') no-repeat center center;
    background-size: cover;
}

.cadernos12_05_2023 {
    width: 100%;
    height: 100%;

    background: transparent url('../img/cadernos1.jpg') no-repeat center center;
    background-size: cover;
}

.dp28_04_2023 {
    width: 100%;
    height: 100%;

    background: transparent url('../img/dp1.jpg') no-repeat center center;
    background-size: cover;
}

.padre28_04_2023 {
    width: 100%;
    height: 100%;

    background: transparent url('../img/padre28_04_2023.jpg') no-repeat center center;
    background-size: cover;
}

.alunos_na_missa28_04_2023 {
    width: 100%;
    height: 100%;

    background: transparent url('../img/maos_de_aluno_na_missa.jpg') no-repeat center center;
    background-size: cover;
}

.missa01_05_2023 {
    width: 100%;
    height: 100%;

    background: transparent url('../img/missa01_05_2023.jpg') no-repeat center center;
    background-size: cover;
}

.provas18_05_2023 {
    width: 100%;
    height: 100%;

    background: transparent url('../img/18_05_2023_inicio_das_provas_de_professor/provas.jpg') no-repeat center center;
    background-size: cover;
}

/* VÍDEOS DAS NOTÍCIAS */
.video {
    margin-top: 10px;
    width: 100%;
    height: 600px;

    overflow: hidden;
    transition: all .3s ease-in;
}
/*max-width: 600px;*/

video {
    width: 100%;
    height: 150px;
    transition: all .3s ease-in;
}

@media screen and (min-width: 280px) and (max-width: 350px) {
    
    .video {
        margin-top: 10px;
        height: 190px;
        width: 100%;
    }

    video {
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 350px) and (max-width: 420px) {
    
    .video {
        margin-top: 10px;
        height: 230px;
        width: 100%;
    }

    video {
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 420px) and (max-width: 530px) {
    
    .video {
        margin-top: 10px;
        height: 290px;
        width: 100%;
    }

    video {
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 530px) and (max-width: 590px) {
    
    .video {
        margin-top: 10px;
        height: 330px;
        width: 100%;
    }

    video {
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 590px) and (max-width: 640px) {
    
    .video {
        margin-top: 10px;
        height: 360px;
        width: 100%;
    }

    video {
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 640px) {
    
    .main_album > div {
        margin: 10px;
        width: 360px;
        height: 200px;
    }

    .video {
        height: 290px;
        width: 360;
    }

    video {
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 1272px) {
    
    body .nav {
        display: none;
    }

    main, .main_recentes {
        padding-top: 90px;
    }

}